*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

@font-face{
    font-family: "policeTitre";
    src: url("../font/roguehero.ttf");
}



.policeTitres{
    font-family: "policeTitre";
    
}

.red{
    color:  rgb(167, 8, 8) ;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(167, 8, 8);
}

.flex{
    display: flex;
    
}
.flex1{
    justify-content: space-around;
    align-items: center;
}

.hidden{
    display: none;
    
}
/* ----------HEADER-------------- */

.bgImage{
    background-image: url("../img/deadpoolFond.jpg");
    height: 100vh;
    background-position: center;
    background-position: cover;
    background-repeat:no-repeat;
    background-size:cover;
}

/* Taille de ma police */
.taille{
    font-size: 30px;
}

/* Taille des logos */
.logo{
    width: 50px;
}

/* Fond noir de la nav */
.fdNoir{
    background-color: black;
}

/* -------------MAIN------------- */

.flex2{
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(160, 25, 25);
}

/* SECTION 1 A 80% */

.section1{
    width: 80%;
    margin: auto;
}

/* flex de la video */

.flex3{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;

}

/* flex photo + texte */

.flex4{
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px ;
    
}

p{
    margin-top: 20px;
    
}
.tailleDiv{
    width: 500px;
    font-size: 30px;
    margin-top: 70px;
    
}

/* Titre "Les personnages" */

.flex3{
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(160, 25, 25);
}

/* SECTION 2 À 80% */
.section2{
    width: 80%;
    margin: auto;
}

.flex5{
    justify-content: space-between;
    align-items: center;
}

.tailleImage{
    width: 350px;
    margin-left: 15px;
}

/* Alignement des titres au centre */
.align{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

/* SECTION 3 À 80%*/

.section3{
    width: 80%;
    margin: auto;
}

.flex6{
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

/* SECTION 4 À 100% */

.flex7{
    justify-content: space-evenly;
    align-items: center;
    background-color: green;
    
}

.tailleImage2{
    width: 250px;
}

.bgColorYellow{
    background-color: rgb(216, 176, 0);
}

.button{
    background-color: white;
    width: 250px;
    border-radius: 100px;
    
}

/* FOOTER */

.flex8{
    justify-content: space-evenly;
    align-items: center;
}

.taillePoliceFooter{
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}



